<% provide :title, @user.name %>
<div class="span3">
	<%= gravatar_for @user %>
</div>
<div class="span3">
	<strong>Name</strong> <%= @user.name %><br />
	<strong>Email</strong>  <%= @user.email %><br />
	<strong>Born On</strong>  <%= @user.born_on %><br />
</div>